
.trip_history_container{
  width: 80%;
  background-color: white;
}
.name_trip_history{
  font-size: 20px;
 align-items: center;
 margin-left: 300px;
}
.input_date{
  margin-top: 30px;
  margin-left: 80px;
}
.trip_id{
  margin-left: 80px;
}
.search{
  background: url("../../Images/search.png");
  width:20px;
  height: 20px;
  position: absolute;
  top: 85px;
  margin-left: 200px;
}
.date{
   background: url("../../Images/calender.png");
   width: 20px;
   height: 20px;
   position: absolute;
   top: 85px;
   margin-left: 550px;
}