* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}

.v332_105{
  width: 80px;
  color: black;
  background-color: #FE9814;
  position: absolute;
  top: 725px;
  left: 1000px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v332_106{
  width: 80px;
  color: black;
  background-color: #FE9814;
  position: absolute;
  top: 725px;
  left: 1100px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v328_22 {
  width: 100%;
  height: 1024px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v328_23 {
  width: 100%;
  height: 64px;
  background: rgba(72,62,167,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v328_24 {
  width: 100%;
  height: 197px;
  background: rgba(72,62,167,1);
  opacity: 1;
  position: absolute;
  top: 830px;
  left: 20px;
  overflow: hidden;
}
.v328_25 {
  width: 42px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 858px;
  left: 710px;
  font-family: Roboto;
  font-weight: Light;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v328_26 {
  width: 176px;
  color: rgba(238,238,253,1);
  position: absolute;
  top: 883px;
  left: 213px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v328_27 {
  width: 47px;
  color: rgba(238,238,253,1);
  position: absolute;
  top: 894px;
  left: 705px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v328_28 {
  width: 51px;
  color: rgba(238,238,253,1);
  position: absolute;
  top: 925px;
  left: 705px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v328_29 {
  width: 224px;
  color: rgba(238,238,253,1);
  position: absolute;
  top: 905px;
  left: 1078px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v328_30 {
  width: 73px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 849px;
  left: 217px;
  font-family: Roboto;
  font-weight: Light;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v328_31 {
  width: 54px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 20px;
  left: 491px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v328_32 {
  width: 89px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 19px;
  left: 645px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v328_33 {
  width: 90px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 19px;
  left: 952px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v328_34 {
  width: 122px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 19px;
  left: 805px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 22px;
  opacity: 1;
  text-align: left;
}
.v328_35 {
  width: 88px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 866px;
  left: 1084px;
  font-family: Roboto;
  font-weight: Light;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v328_36 {
  width: 82px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 20px;
  left: 1114px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v328_37 {
  width: 170px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 20px;
  left: 1254px;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v328_38 {
  width: 141px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 17px;
  left: 42px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v328_39 {
  width: 82px;
  height: 3px;
  /* background: url("../images/v328_39.png"); */
  opacity: 1;
  position: absolute;
  top: 48px;
  left: 820px;
  /* border: 5px solid rgba(254,152,20,1); */
  transform: rotate(-2deg);
}
.v328_40 {
  width: 921px;
  height: 644px;
  background: rgba(238,238,253,1);
  opacity: 1;
  position: absolute;
  top: 135px;
  left: 273px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v328_44 {
  width: 313px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 145px;
  left: 314px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 23px;
  opacity: 1;
  text-align: left;
}
.v328_45 {
  width: 313px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 228px;
  left: 770px;
  font-family: Roboto;
  font-weight: Light;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v328_46 {
  width: 313px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 276px;
  left: 770px;
  font-family: Roboto;
  font-weight: Light;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v328_47 {
  width: 313px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 329px;
  left: 760px;
  font-family: Roboto;
  font-weight: Light;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v328_48 {
  width: 313px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 90px;
  left: 213px;
  font-family: Roboto;
  font-weight: Light;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v328_49 {
  width: 93px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 393px;
  left: 486px;
  font-family: Roboto;
  font-weight: Light;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v328_50 {
  width: 240px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 463px;
  left: 486px;
  font-family: Roboto;
  font-weight: Light;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v328_51 {
  width: 240px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 531px;
  left: 487px;
  font-family: Roboto;
  font-weight: Light;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v328_52 {
  width: 240px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 599px;
  left: 486px;
  font-family: Roboto;
  font-weight: Light;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v328_53 {
  width: 118px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 227px;
  left: 482px;
  font-family: Roboto;
  font-weight: Light;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v328_54 {
  width: 118px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 274px;
  left: 486px;
  font-family: Roboto;
  font-weight: Light;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v328_55 {
  width: 118px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 329px;
  left: 487px;
  font-family: Roboto;
  font-weight: Light;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v328_56 {
  width: 98px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 391px;
  left: 770px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v328_57 {
  width: 98px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 465px;
  left: 771px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v328_58 {
  width: 98px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 533px;
  left: 770px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v328_59 {
  width: 117px;
  color: rgba(43,185,74,1);
  position: absolute;
  top: 599px;
  left: 771px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v328_60 {
  width: 230px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 992px;
  left: 631px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v328_62 {
  width: 293px;
  height: 37px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 168px;
  left: 530px;
  border-top-left-radius: 120px;
  border-top-right-radius: 120px;
  border-bottom-left-radius: 120px;
  border-bottom-right-radius: 120px;
  overflow: hidden;
}
.v328_63 {
  width: 193px;
  color: rgba(196,206,211,1);
  position: absolute;
  top: 157px;
  left: 577px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v328_64 {
  width: 21px;
  height: 25px;
  background: url("../../Images/calender.png");
  opacity: 1;
  position: absolute;
  top: 157px;
  left: 798px;
}
.v328_65 {
  width: 21px;
  height: 21px;
  background: url("../../Images/search.png");
  opacity: 1;
  position: absolute;
  top: 159px;
  left: 870px;
}
