* {
  box-sizing: border-box;
}
.view_time_table {
  width: 180px;
  color: white;
  background-color: #998de0;
  position: absolute;
  top: 125px;
  left: 389px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}

.v332_999 {
  width: 200px;
  color: black;
  background-color: #fe9814;
  position: absolute;
  top: 125px;
  left: 389px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}

.update_timetable {
  width: 200px;
  color: white;
  background-color: #998de0;
  position: absolute;
  top: 125px;
  left: 710px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}

.v332_1000 {
  width: 210px;
  color: white;
  background-color: #998de0;
  position: absolute;
  top: 125px;
  left: 710px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}

.allocated_drivers {
  width: 200px;
  color: white;
  background-color: #998de0;
  position: absolute;
  top: 125px;
  left: 1089px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
  height: 90px;
}
body {
  font-size: 14px;
}
/* .manager_portal_container {
  width: 100%;
  height: 1024px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
} */
.v332_27 {
  width: 990px;
  height: 643px;

  opacity: 1;
  position: absolute;
  top: 254px;
  left: 352px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v332_28 {
  width: 100%;
  height: 64px;
  background: rgba(72, 62, 167, 1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v332_29 {
  width: 272px;
  height: 972px;
  background: rgba(238, 238, 253, 1);
  opacity: 1;
  position: absolute;
  top: 64px;
  left: 0px;
  overflow: hidden;
}
.v332_30 {
  width: 25px;
  height: 19px;
  background: url("../../Images/home.png");
  opacity: 1;
  position: absolute;
  top: 116px;
  left: 50px;
}
.v332_31 {
  width: 25px;
  height: 18px;
  background: url("../../Images/Statistics.png");
  opacity: 1;
  position: absolute;
  top: 197px;
  left: 53px;
}
.v332_32 {
  width: 24px;
  height: 24px;
  background: url("../../Images/fqa.png");
  opacity: 1;
  position: absolute;
  top: 448px;
  left: 51px;
}
.v332_33 {
  width: 18px;
  height: 25px;
  background: url("../../Images/conte.png");
  opacity: 1;
  position: absolute;
  top: 530px;
  left: 53px;
}
.v332_34 {
  width: 58px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 22px;
  left: 1280px;
  font-family: Roboto;
  font-weight: Light;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v332_35 {
  width: 51px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 22px;
  left: 1200px;
  font-family: Roboto;
  font-weight: Light;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v332_36 {
  width: 4px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 22px;
  left: 1260px;
  font-family: Roboto;
  font-weight: Light;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v332_37 {
  width: 163px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 14px;
  left: 68px;
  font-family: Roboto;
  font-weight: Light;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.button_home {
  width: 41px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 117px;
  left: 99px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.button_statics {
  width: 68px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 197px;
  left: 99px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.button_view_timetable {
  width: 234px;
  color: rgb(96, 41, 184);
  position: absolute;
  top: 298px;
  left: 389px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v332_41 {
  width: 234px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 400px;
  left: 468px;
  font-family: Roboto;
  font-weight: Medium Italic;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v332_42 {
  width: 659px;
  color: rgba(70, 26, 244, 1);
  position: absolute;
  top: 400px;
  left: 712px;
  font-family: Roboto;
  font-weight: Bold Italic;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v332_43 {
  width: 79px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 285px;
  left: 97px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v332_44 {
  width: 90px;
  color: rgba(124, 21, 140, 1);
  position: absolute;
  top: 372px;
  left: 96px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v332_45 {
  width: 28px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 448px;
  left: 99px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v332_46 {
  width: 53px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 537px;
  left: 98px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v332_47 {
  width: 21px;
  height: 25px;
  background: url("../../Images/time.png");
  opacity: 1;
  position: absolute;
  top: 370px;
  left: 53px;
}
.v332_48 {
  width: 23px;
  height: 19px;
  background: url("../../Images/Passengers.png");
  opacity: 1;
  position: absolute;
  top: 285px;
  left: 50px;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v332_53 {
  width: 293px;
  height: 37px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  position: absolute;
  top: 289px;
  left: 809px;
  border-top-left-radius: 120px;
  border-top-right-radius: 120px;
  border-bottom-left-radius: 120px;
  border-bottom-right-radius: 120px;
  overflow: hidden;
}
.v332_54 {
  width: 193px;
  color: rgba(196, 206, 211, 1);
  position: absolute;
  top: 296px;
  left: 836px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v332_55 {
  width: 21px;
  height: 21px;
  background: url("../../Images/search.png");
  opacity: 1;
  position: absolute;
  top: 298px;
  left: 1129px;
}
.v332_56 {
  width: 24px;
  height: 24px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  position: absolute;
  top: 296px;
  left: 1062px;
  overflow: hidden;
}
.v332_57 {
  width: 12px;
  height: 7px;
  background: url("../../Images/keyboard_arrow_down.png");
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 6px;
}
.v332_58 {
  width: 24px;
  height: 24px;
  background: url("../../Images/keyboard_arrow_down.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.name {
  color: #fff;
}
.v332_60 {
  width: 740px;
  height: 56px;
  background: rgba(172, 172, 242, 1);
  opacity: 1;
  position: absolute;
  top: 486px;
  left: 494px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v332_63 {
  width: 226px;
  /* color: url("../images/v332_63.png"); */
  position: absolute;
  top: 506px;
  left: 520px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v332_64 {
  width: 226px;
  color: rgba(8, 125, 34, 1);
  position: absolute;
  top: 506px;
  left: 793px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v332_65 {
  width: 226px;
  color: rgba(213, 44, 44, 1);
  position: absolute;
  top: 506px;
  left: 1037px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v332_66 {
  width: 740px;
  height: 56px;
  background: rgba(172, 172, 242, 1);
  opacity: 1;
  position: absolute;
  top: 564px;
  left: 494px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v332_69 {
  width: 226px;
  /* color: url("../images/v332_69.png"); */
  position: absolute;
  top: 584px;
  left: 520px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v332_70 {
  width: 226px;
  color: rgba(8, 125, 34, 1);
  position: absolute;
  top: 584px;
  left: 793px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v332_71 {
  width: 226px;
  color: rgba(213, 44, 44, 1);
  position: absolute;
  top: 584px;
  left: 1037px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v332_72 {
  width: 740px;
  height: 56px;
  background: rgba(172, 172, 242, 1);
  opacity: 1;
  position: absolute;
  top: 643px;
  left: 494px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v332_75 {
  width: 226px;
  /* color: url("../images/v332_75.png"); */
  position: absolute;
  top: 663px;
  left: 520px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v332_76 {
  width: 226px;
  color: rgba(8, 125, 34, 1);
  position: absolute;
  top: 663px;
  left: 793px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v332_77 {
  width: 226px;
  color: rgba(213, 44, 44, 1);
  position: absolute;
  top: 663px;
  left: 1037px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v332_78 {
  width: 740px;
  height: 56px;
  background: rgba(172, 172, 242, 1);
  opacity: 1;
  position: absolute;
  top: 725px;
  left: 494px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v332_81 {
  width: 226px;
  /* color: url("../images/v332_81.png"); */
  position: absolute;
  top: 745px;
  left: 520px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v332_82 {
  width: 226px;
  color: rgba(8, 125, 34, 1);
  position: absolute;
  top: 745px;
  left: 793px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v332_83 {
  width: 226px;
  color: rgba(213, 44, 44, 1);
  position: absolute;
  top: 745px;
  left: 1037px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.table {
  border: 1px gray;
}
.inside_table_first_col {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.add_new{
  border:1px #10a8a9;
  color:#10a8a9
}
.input_class{
  border:"1px "
}
.btn_report{
  color:#10a8a9;
  border: 1px #10a8a9;
  height: 35px;
  border-radius: 5px;
  border-color: #10a8a9;
}
