.form_container {
  width: 100%;
  background-color: white;
  border-radius: 10px;
  border: 2px rgb(211, 19, 19);
  opacity: 1;
  height: 70%;
}

.input_div_iresha {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  row-gap: 5px;
}
