.timetable_container{
  width: 100%;
  height: 100%;
  background-color: white;
}
.trip_history{
  align-items: center;
  margin-left: 500px;
  font-size: 20px;
}
.view_timetable{
  margin-left: 30px;
  font-size: 18px;
  margin-top: 100px;
}
.selected_route_dev{
  margin-left: 30px;
  margin-top: 20px;
  font-size: 18px;
}